<link rel="stylesheet" href="./css/timeline.css">
<section id="cd-timeline" class="cd-container">
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<img src="./media/cd-icon-picture.svg" alt="Picture">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>The Meet-Cute | September 2007</h2>
				<p>Jenna & Greg met the first week of school at Ramapo College during the first meeting of an English class they were both in</p>
				<img src="./media/gjfirstpic.jpg">
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
		<img src="./media/cd-icon-picture.svg" alt="Picture">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>A Little Winter Magic</h2>
				<p>December 27th, 2007 Jenna & Greg start dating</p>
				<img src="./media/gjdating.jpg"> 
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<img src="./media/cd-icon-picture.svg" alt="Picture">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Taking Some Big Leaps</h2>
				<p>Jenna lovingly let me jump first, and may or may not have pushed me out.</p>
				<img src="./media/gskydive.jpg">
				<img src="./media/jskydive.jpg">
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
		<img src="./media/cd-icon-picture.svg" alt="Picture">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Had many reasons to Celebrate!</h2>
				<p></p>
				<img src="./media/gjcelebrations.jpg">
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
		<img src="./media/cd-icon-picture.svg" alt="Picture">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Passed some important Milestones</h2>
				<p>Together from beginning of college til the end.</p>
				<img src="./media/gjjbigsteps.jpg">
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<img src="./media/cd-icon-picture.svg" alt="Movie">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Finally, 6 1/2 years later, Greg popped the big question</h2>
				<p>On a hugely transparent and attempted surprise hot air balloon ride</p>
				<img src="./media/gjproposal.jpg">
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->
	</section> <!-- cd-timeline -->