	<div id="mainwrapper">
	  <h1 id="pacifHeader" class="center-img">The Bride</h1>
	  <p class="center-img"><img src="./media/the_bride.jpg" class="head-shot" style="max-width:200px;"></p>
    <h1 id="pacifHeader" class="center-img">The Bridesmaids</h1>
	   <div class="row">
	   <div class="col-md-1"></div>
	     <div class="col-md-2">
	         <img src="./media/liana.jpg" class="head-shot">
	         <p class="center-img">Liana</p>
	         <p class="center-img" id="pacifHeader"> Maid of Honor</p>
	     </div>
	     <div class="col-md-2">
	         <img src="./media/laura.jpg" class="head-shot">
	         <p class="center-img">Laura</p>
	         <p class="center-img" id="pacifHeader"> Maid of Honor</p>
	     </div>
	     <div class="col-md-2">
	         <img src="./media/megan.jpg" class="head-shot">
	         <p class="center-img">Megan</p>
	     </div>
	     <div class="col-md-2">
	         <img src="./media/lauren.jpg" class="head-shot">
	         <p class="center-img">Lauren</p>
	     </div>
	     <div class="col-md-2">
	         <img src="./media/kate.jpg" class="head-shot">
	         <p class="center-img">Kate</p>
	     </div>
	     <div class="col-md-1"></div>
	   </div>
	   <h1 id="pacifHeader" class="center-img">The Groom</h1>
	  <p class="center-img"><img src="./media/the-groom.jpg" class="head-shot"></p>
    <h1 id="pacifHeader" class="center-img">The Groomsmen</h1>
	   <div class="row">
	     <div class="col-md-4"></div>
	     <div class="col-md-4">
	         <p class="center-img">Greg is a lazy bum that has yet to ask his groomsmen.</p>
	         <p class="center-img">"Oh yeah, I forgot to do that.." - Gregory</p>
	     </div>
	     <div class="col-md-4"></div>
	   </div>
	</div>