<style>

#full-screen-background-image {
  z-index: -999;
  min-height: 80%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

#wrapper {
  position: relative;
  width: 80%;
  min-height: 60%;
  margin: 10% auto;
  background-color: black;
  color:white;
opacity:0.5;
filter:Alpha(opacity=50); /* IE8 and earlier */
}
#mainwrapper{
  width: 80%;
  min-height: 20%;
  margin: 10% auto;
  background-color: black;
  background: rgba(0, 0, 0, .7);
  color:white;
  padding:5%;
}
#Colwrapper{
  width: 95%;
  margin: 10% auto;
  min-height: 20%;
  color:black;
opacity:0.9;
filter:Alpha(opacity=50); /* IE8 and earlier */
}
#pacifHeader {
    font-family: 'Pacifico', cursive;
    opacity:0.9;
filter:Alpha(opacity=90); /* IE8 and earlier */
}
#ralewayFont{
font-family: 'Ubuntu', sans-serif;
    
}
  </style>

<div id="mainwrapper">
<div class="row featurette">
    <div class="col-md-3"></div>
    <div class="col-md-6" style="padding-right: 30px; padding-left: 30px;">
        <form action='/guestbook' method='post'>
            <p>Name: <input name="username" placeholder="First, Last Name"></p>
            <p>Entry: <input name="entry" placeholder="Sign our guestbook!"></p>
            <input type="submit" value="Sign">
        </form>
        <br>
        <hr>
        <br>
        <% @entries.each do |entry| %>
        
        <p><%= entry.username %></p>
        <p><%= entry.entry %></p>
        <hr>
        <% end %>
    </div>
    <div class="col-md-3"></div>
</div>
</div>